<html>
<head>
  <title>`Serwis o nauce programowania w Django`</title>
</head>
<body>
  <div>
    <h1><a href="/">Vu uczy się programować w Pythonie</a></h1>
  </div>

  <div>
    <p>published: 10.10.2020, 01:24</p>
    <h2><a href="">Pierwszy wpis</a></h2>
    <p> lsdkfjlsdkglsdkgjlsdkgjsldkgslkdgsldkglskdglskdglskdglksjflk</p>
  </div>

  <div>
    <p>published: 10.10.2020, 01:24</p>
    <h2><a href="">Drugi wpis</a></h2>
    <p> lsdkfjlsdkglsdkgjlsdkgjsldkgslkdgsldkglskdglskdglskdglksjflk</p>
  </div>
</body>
</html>
